.modo-table-form-editable .widget-list-canvas {
    height: 100px;
    border: 1px solid var(--color-gray-2) !important;
	flex: 1;
	overflow: hidden;
	display: flex !important;
	width: 100%;
	z-index: 10000;
	border: 1px dashed var(--color-gray-3) !important;
}