.action-type-overview {
    .base-info {
        border-radius: 4px;
        border: 1px solid var(--color-border-2, #E3E9EF);
        .base-info-content {
            padding: 16px 20px 4px;
            .base-info-form {
                margin-top: 16px;
                .arco-form-item {
                    margin-bottom: 16px;
                }
            }        
        }
        .base-info-bottom {
            display: flex;
            flex-direction: column;
            gap: 4px;
            padding: 12px 20px;
            border-radius: 0 0 4px 4px;
            border-top: 1px solid var(--color-border-2, #E3E9EF);
            background: var(--color-fill-1, #F9FBFD);
            .arco-form-item {
                margin-bottom: 0;
            }
            .arco-form-label-item {
                margin-bottom: 0;
            }
        }
        .form-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0 36px;
        }
    }
    .action-type-overview {
        margin-top: 16px;
        border-radius: 4px;
        border: 1px solid var(--color-border-2, #E3E9EF);
        .overview-title {
            padding: 16px 20px;
        }
        .overview-content {
            height: 366px;
        }
    }
}