.modo-spin {
	.arco-spin-tip {
		line-height: 1;
	}
	.arco-spin-icon>img {
		width: 32px;
		height: 32px;
	}
}
.arco-btn-loading {
	.modo-spin {
		.arco-spin-icon>img {
			width: 12px;
		}
	}
}