.object-type-detail-container{
  height: 100%;

  .obj-type-content{
    height: calc(100% - 42px);
    .arco-tabs{
      .arco-tabs-header-nav{
        padding: 0 !important;
        box-shadow: inset 0px -1px 0px 0px #f2f3f5 !important;
      }
      .arco-tabs-header-title{
        width: auto;
        padding: 10px 0 !important;
        height: 20px;
        box-sizing: content-box;
        margin: 0 10px !important;
        background-color: transparent;
        color: var(--color-text-2);
      }
      .arco-tabs-header-nav-line.arco-tabs-header-nav-horizontal>.arco-tabs-header-scroll .arco-tabs-header-title:first-of-type {
        margin-left: 16px !important;
      }
      .arco-tabs-header-title-active, .arco-tabs-header-title-active:hover {
        color: var(--color-text-1);
        background-color: transparent;
        font-weight: 600;
      }
      .arco-tabs-header-ink{
        display: block;
      }
    }

  }


  .obj-type-head{
    padding: 10px 16px;
    .head-content{
      font-size: 14px;
      font-weight: 600;
      span{
        font-weight: 400;
      }
    }
  }
}
