.modo-form-list {
	width: 100%;
	.modo-form-list-container {
		width: 100%;
		.row {
			display: flex;
			margin-bottom: 10px;
			.form-row {
				flex: 1;
				overflow: hidden;
				display: flex;
				.form-col {
					margin-right: 10px;
				}
				.arco-radio-group-type-button {
				    white-space: nowrap;
				}
			}
		}
	}
}