.service-attr-tabs {
	&.arco-tabs {
		height: 100%;
		.arco-tabs-content {
			height: calc(100% - 40px);
			.arco-tabs-content-inner {
				height: 100%;
				.arco-tabs-pane {
					height: 100%;
					.arco-form {
						height: 100%;
						overflow: auto;
					}
				}
			}
		}
	}
	
}