.object-browser-container{
    width: 100%;
    height: 100%;
    background: var(--color-fill-2, #EFF4F9);
    padding: 12px;
    box-sizing: border-box;
    .modo-tabs.editable{
        background-color: transparent;
        .arco-tabs{
            .arco-tabs-header-nav {
                padding: 16px 0 0;
                box-shadow: none;
                .arco-tabs-header-extra{
                    .tab-title {
                        background-color: transparent;
                        font-size: 24px;
                        height: 34px;
                        display: inline-flex;
                        align-items: center;
                        span{
                            font-size: 24px;
                            font-weight: 600;
                        }
                    }
                }
            }
            .arco-tabs-content{
                border-radius: var(--border-radius-large, 6px);
                margin-top: 10px;
                height: calc(100% - 60px);
            }
        }
        &.no-tabs{
             .arco-tabs {
                background-color: var(--color-white);
                height: 45px;

                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
                .arco-tabs-header-nav{
                    // box-shadow: inset 0px -1px 0px 0px #f2f3f5;
                }
                .tab-title {
                    padding-left: 16px;
                }
            }
            .tab-placeholder{
                background-color: transparent;
            }
        }
    }
    .arco-tabs-pane{
        overflow: hidden;
    }
}
.object-browser-spin {
	width: 100%;
    height: 100%;
    .arco-spin-children {
        width: 100%;
        height: 100%;
        padding: 10px 12px;
        box-sizing: border-box;
        background: var(--color-fill-2);
    }
}
.object-browser{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .object-browser-header {
        display: flex;
        align-items: center;
        gap: 6px;
        color: var(--color-text-1, #242E43);
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        padding: 16px 16px 10px;
        border-radius: 6px 6px 0 0;
        .moda-icon {
            cursor: pointer;
        }
        .title {
            color: var(--color-text-1, #242E43);
            font-size: 24px;
            font-weight: 600;
            line-height: 32px;
            cursor: pointer;
        }
        .modo-tabs {
            height: 44px;
            flex: 1;
            margin-left: 16px;
            margin-top: -8px;
            overflow: hidden;
            background: none;
            .arco-tabs-header-nav {
                box-shadow: none;
            }
            .arco-tabs-header-extra {
                display: none;
            }
            .tab-placeholder {
                background: none;
            }
            .arco-tabs-header-title {
                cursor: pointer;
            }
        }
    }
    .object-browser-header.home {
        background: #fff;
    }
    .object-browser-header.tab-view {
        background: var(--color-fill-2);
    }
    .object-browser-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: hidden;
        .object-browser-title {
            border-radius: 0 0 6px 6px;
            margin-bottom: 10px;
            padding: 0 16px 16px;
            background: #fff;
            .object-browser-title__desc {
                color: var(--color-text-3, #79879C);
                line-height: 20px;
                margin-bottom: 16px;
            }
        }
        .object-browser-content-main {
            flex: 1;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            box-shadow: 0 2px 5px 0 var(--color-shadow, rgba(36, 46, 67, 0.10));
            border-radius: 6px;
        }
   
        .object-browser-content-title {
            display: flex;
            gap: 4px;
            align-items: center;
            padding: 10px 16px;
            background: #fff;
            .label {
                color: var(--color-text-1, #242E43);
                font-size: 14px;
                font-weight: 600;
                line-height: 22px;
            }
            .descr {
                color: var(--color-text-3, #79879C);
                font-size: 12px;
                font-weight: 400;
                line-height: 20px;
            }
        }
        .object-browser-content-total {
            padding: 7px 16px;
            background: var(--color-fill-1, #F9FBFD);
            overflow: hidden;
            color: var(--color-text-1, #242E43);
            text-overflow: ellipsis;
            font-size: 14px;
            font-weight: 600;
            line-height: 22px;
            .number {
                color: var(--color-primary-6);
                margin: 0 6px;
            }
        }
        .object-browser-content-list {
            flex: 1;
            overflow: auto;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
            grid-auto-rows: min-content;
            gap: 12px;
            padding: 16px;
            background: #fff;
            .card {
                border-radius: 4px;
                border: 1px solid var(--color-border-2, #E3E9EF);
                background: var(--color-bg-2, #FFF);
                height: fit-content;
                .arco-card-body {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    gap: var(--size-2, 8px);
                    flex-shrink: 0;
                }
                .card-icon {
                    color: var(--color-primary-6);
                    background: var(---color-primary-light-1, #E8F3FF);
                    .arco-avatar-text {
                        font-size: 16px;
                    }
                }
                .card-content {
                    flex: 1;
                    min-width: 0;
                    .title {
                        display: flex;
                        gap: 4px;
                        align-items: center;
                        .text {
                            color: var(--color-text-1, #242E43);
                            font-weight: 600;
                            line-height: 22px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        .tag {
                            background: var(--color-fill-2);
                            padding: 2px 6px;
                            border-radius: 4px;
                        }
                    }
                    .descr {
                        color: var(--color-text-3, #79879C);
                        line-height: 20px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        min-width: 0;
                    }
                }
                .card-action {
                    line-height: 22px;
                    align-self: flex-start;
                    display: flex;
                    gap: 4px;
                    align-items: center;
                    cursor: pointer;
                    color: var(--color-primary-6);
                }
            }
        }
        .object-browser-content-more {
            padding-bottom: 16px;
            background: #fff;
            text-align: center;
        }
        .object-browser-content-page {
            display: flex;
            padding: 6px var(--size-4, 16px);
            flex-direction: column;
            align-items: flex-start;
            background: var(--color-fill-1, #F9FBFD);
        }
    }
    .tab-content-container {
        flex: 1;
        overflow: hidden;
        .overview {
            height: 100%;
        }
    }
    .light-text {
        color: var(--color-text-3, #79879C);
    }
}
