.object-type-select-table {
    position: relative;
    .total {
        color: var(--color-text-3, #79879C);
        line-height: 20px;
        position: absolute;
        left: 130px;
        top: 8px;
        z-index: 2;
        .num {
            margin: 0 4px;
            font-weight: 500;
        }
    }
    .arco-table .arco-table-pagination {
        background: none;
    }
    .arco-table-container {
        padding: 0;
    }
    .arco-table .arco-table-pagination .arco-pagination {
        margin: 10px 0 0;
    }
}
.share-object-search-input {
    .arco-input-group-wrapper .arco-input-inner-wrapper {
        border-radius: 20px;
    }
}