.simulation-exec-detail-panel {
    padding: 16px 24px;
    .color-text-4 {
        color: var(--color-text-4);
    }
    .margin-bottom-14 {
        margin-bottom: 14px;
    }
    .report-title {
        display: flex;
        column-gap: 6px;
        align-items: center;
        font-size: 14px;
        font-weight: 700;
        line-height: 22px;
        margin-bottom: 16px;
        &:before {
            content: "";
            width: 4px;
            height: 12px;
            border-radius: 2px;
            background: var(--color-primary-6);
            display: block;
        }
    }
    .border-left-2 {
        border-left: 2px solid var(--border-color-base);
    }
    .padding-left-14 {
        padding-left: 14px;
    }
    .arco-table {
        --color-neutral-3: #EBEEF2;
        .arco-table-th {
            background: #F8FAFC;
            font-size: 14px;
        }
        .arco-table-th-item {
            padding: 0px 12px;
            height: 46px;
            line-height: 46px;
        }
        .arco-table-th-item-title {
            font-weight: 600;
        }
        .arco-table-td {
            font-size: 14px;
            padding: 0px 12px;
            height: 46px;
            line-height: 46px;
        }
    }
}