.ai-message-container{
    .ai-content-body{
        .test-res-card{
            .res-text{
                font-size: 14px;
            }
            .res-progress{
                border-radius: 6px;
                border: 1px solid var(--color-fill-3);
                background-color: var(--color-fill-1);
                margin-top: 16px;
                padding: 16px;
                .progress-head{
                    display: inline-flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    div{
                        font-size: 14px;
                        font-weight: 700;
                    }
                    button{
                        border-radius: 6px;
                    }
                }
                .progress-content{
                    display: flex;
                    flex-direction: column;
                    margin-top: 10px;
                    .arco-progress{
                        margin-top: 4px;
                        .arco-progress-line-outer{
                            height: 6px;
                        }
                        .arco-progress-line-text{
                            margin-left: 12px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}