.relation-drawer {
  &-content {
    padding: 30px 50px;
    display: flex;
    gap: 30px;

    &__left {
      flex: 1;
      background: radial-gradient(
        74% 74% at 50% 62%,
        rgba(117, 64, 215, 0.2) 0%,
        rgba(44, 50, 98, 0.4) 100%
      );
      border-radius: 10px;
      border: 1px solid #5b69ff;
      padding: 17px 20px;
    }
    &__right {
      flex: 1;
      background: radial-gradient(
        74% 74% at 50% 62%,
        rgba(117, 64, 215, 0.2) 0%,
        rgba(44, 50, 98, 0.4) 100%
      );
      border-radius: 10px;
      border: 1px solid #5b69ff;
      padding: 17px 20px;
    }

    &-title {
      margin-bottom: 20px;
      display: flex;
      gap: 8px;
      align-items: center;
      font-size: 16px;
    }
  }

  .relation-examplate {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    &-tag {
      padding: 5px 14px;
      font-size: 16px;
      border-radius: 10px;
    }
  }
}
