.action-drawer {
  position: relative;
  background: transparent;
  border: none;
  .action-drawer-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
  .action-drawer-main {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    color: #FFF;
    z-index: 1;
    .arco-textarea {
      padding: 12px 20px;
    }
    .arco-input {
      padding: 12px 20px;
    }
    .action-drawer-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 32px 50px 25px;
      font-family: "DingTalk JinBuTi";
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 0;
      img {
        cursor: pointer;
      }
    }
    .action-drawer-content {
      flex: 1;
      overflow: auto;
      padding: 20px 50px;
      .action-drawer-title {
        font-weight: 500;
      }
    }
    .action-drawer-footer {
      padding: 20px 50px;
      text-align: right;
      flex-shrink: 0;
    }
  }
  &-content {
    padding: 30px 50px;

    .arco-select-single .arco-select-view-value {
      display: flex;
      align-items: center;
    }

    .icon-select-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 120px;
      padding: 6px;
      border-radius: var(--border-radius-medium);
      background-color: var(--color-bg-popup);
      border: 1px solid var(--color-fill-3);
      & > div > div {
        display: flex;
        flex-direction: row !important;
        flex-wrap: wrap;
        li.arco-select-option {
          width: 22px;
          height: 22px;
          font-size: 14px;
          line-height: 22px;
          text-align: center;
          padding: 0;
          margin: 4px;
          border-radius: 2px;
          &.arco-select-option-selected {
            background-color: var(--color-fill-2);
          }
        }
      }
    }

    .action-setting-head {
      margin-bottom: 13px;
    }

    .action-list {
      .arco-radio-group {
        display: flex;
        flex-direction: column;
        width: 100%;
        .arco-radio {
          display: flex;
          align-items: center;
          padding: 10px 20px;
          height: 63px;
          border-top: 1px solid var(--color-border-2, #535c8f);

          border-left: 1px solid var(--color-border-2, #535c8f);

          border-right: 1px solid var(--color-border-2, #535c8f);
          &:first-of-type {
            border-radius: 4px 4px 0 0;
          }

          &:last-of-type {
            border-radius: 0 0 4px 4px;

            border-bottom: 1px solid var(--color-border-2, #535c8f);
          }
        }
        .check-content {
          display: flex;
          align-items: center;
          margin-left: 16px;
          gap: 15px;
          .action-icon {
            box-sizing: border-box;
            height: 36px;
            width: 36px;
            padding: 8px;
            margin-left: 10px;
            margin-right: 10px;
            border-radius: var(---border-radius-medium, 4px);
            // background: var(--color-fill-2, #eff4f9);
          }
          .action-content {
            display: flex;
            align-items: center;
            gap: 12px;
            .action-title {
              font-size: 16px;
            }
            .action-subtitle {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  &-title {
    margin-bottom: 24px;
  }
}
