.obj-empty {
	height: 100%;
	text-align: center;
	&>div {
		transform: translateY(-50%);
    position: relative;
    top: 50%;
	}
	.icon {
		height: 48px;
		margin-bottom: 8px;
		font-size: 48px;
		color: var(--color-text-2);
	}
	.text {
		line-height: 20px;
		color: var(--color-text-4);
	}
}