.modo-designer-event {
	
	.event-list {
		padding: 0px;
		margin: 0px;
		margin-bottom: 10px;
		li {
			border: 1px solid var(--color-gray-2);
			background: var(--color-white);
			padding: 0px;
			margin: 0px;
			line-height: 30px;
			height: 30px;
			list-style-type: none;
			.label {
				padding: 0px 10px;
				width: calc(100% - 80px);
				display: inline-block;
				white-space: pre;
			    overflow: hidden;
			    text-overflow: ellipsis;
			}
			.setting,
			.delete {
				margin-left: 12px;
				cursor: pointer;
				vertical-align: top;
    			margin-top: 8px;
				&:hover {
					color: var(--color-primary-6);
				}
			}
			.delete {
				margin-right: 12px;
			}
		}
	}
}
