.add-manager-modal {
  width: 90vw;
  height: 90vh;

  .arco-form-label-item {
    flex: 0;
    min-width: 80px !important;
    text-align: right;
  }

  .arco-modal-content {
    box-sizing: border-box;
    height: calc(90vh - 48px - 61px);
    overflow-y: auto;
  }

  .content-title {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-size: 16px !important;
    font-weight: 500;

    span {
      font-size: 14px !important;
    }
  }

  .titile-icon {
    width: 6px;
    height: 16px;
    margin-right: 6px;
    background-color: #2e90fa;
  }

  .arco-table-no-data {
    min-height: 35px;
  }

  .arco-empty-image {
    display: none;
  }

  .arco-empty {
    height: 35px;
  }

  .arco-empty-wrapper {
    top: -12px !important;
    transform: translateY(0) !important;
  }

  .arco-form {
    flex-direction: row;
    flex-wrap: wrap;

    .arco-form-item {
      width: 50%;
    }
  }
}
