.modo-transfer {
	width: 100%;
	.arco-transfer-view-source,
	.arco-transfer-view-target {
		.arco-table-container {
			border-radius: 0px;
			table thead tr:first-child th:first-child,
			table thead tr:first-child th:last-child {
				border-radius: 0px;
			}
		}
	}
	.arco-transfer-view {
		width: calc(50% - 26px);
		background: var(--color-white);
	}
	.arco-transfer-view .arco-checkbox {
	    padding-left: 0px;
	}
	.arco-table .arco-table-td:first-child {
	    padding: 0px;
	}
	.arco-table-border .arco-table-container .arco-table-th:first-child,
	.arco-table-border .arco-table-container .arco-table-td:first-child {
		border-left: 0px
	}
	.arco-table-border .arco-table-container::before {
		height: 0px;
	}
	.arco-table-border .arco-table-container {
		border-right: 0px;
		// border-top: 0px;
	}
	.arco-table-header {
		border-radius: 0px;
	}
	.arco-transfer-view-custom-list {
	    overflow: hidden;
	    height: calc(100% - 40px);
	}
	.arco-table-td {
		height: 28px;
	}
	.arco-table-th-item {
		height: 28px;
		line-height: 28px;
	}
	.arco-table .arco-table-th {
		background: var(--color-white);
	}
	.arco-checkbox-mask-wrapper {
		top: 0px;
	}
	.arco-checkbox-mask {
		border-width: 1px;
	}
	.arco-table .arco-table-td,
	.arco-table .arco-table-th-item {
	    padding: 0px 6px 0px 0px;
	}
	.arco-table table thead tr:first-child th:first-child .arco-table-th-item {
		padding-right: 0px;
	}
	.arco-transfer-operations {
		padding: 0px 14px;
	}
	.arco-btn-size-small.arco-btn-shape-round {
	    border-radius: calc(24px * 0.5);
	}
	.arco-btn-size-small.arco-btn-icon-only {
	    width: 24px;
	    height: 24px;
	}
	.arco-table-pagination {
	    border-top: 1px solid var(--color-gray-2);
	    padding-right: 2px;
	}
	.arco-table-pagination .arco-pagination {
		margin-top: 5.5px;
	}
	.arco-table {
		height: 100%;
		.arco-spin {
			height: 100%;
			.arco-spin-children {
				height: 100%;
				.arco-table-container {
					height: calc(100% - 36px);
				}
			}
		}
	}
}