.obj-overview{
  .obj-overview-sidebar .menu-item.disabled {
    cursor: not-allowed;
    color:var(--color-text-4);
    &:hover{
      cursor: not-allowed;
      background-color: transparent;
      .icon{
        color:var(--color-text-4);
      }
      .label{
        color:var(--color-text-4);
      }
    }
  }
}
