<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link
      id="favicon"
      rel="shortcut icon"
      type="image/x-icon"
      href="<%= rootPath %>static/favicon.ico"
    />
    <title>墨斗</title>
    <script src="<%= rootPath %>static/lib/babel/babel.min.js"></script> 
  </head>
  <body modo-theme="modo">
    <div id="root"></div>
  </body>
</html>
