.arco-drawer-header-title {
	font-size: 12px;
}
.source-code {
	.arco-drawer-header {
		height: 30px;
		padding: 0px 10px;
	}
	.arco-drawer-close-icon {
		top: 8px;
		right: 10px;
	}
	.arco-drawer-content {
		padding: 0px;
	}
	.arco-drawer-footer {
		padding: 5px 10px;
		.arco-btn {
			height: 22px;
		}
	}
}