.icon-list>div>div {
    flex-direction: row !important;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 240px;
}
.icon-list>div>div>li {
    width: 24px !important;
    height: 24px !important;
    text-align: center !important;
    line-height: 24px !important;
    padding: 0px !important;
}