.submit-share-model {
    .arco-modal-header {
        height: 44px;
        .arco-modal-title {
            font-size: 14px;
            font-weight: 600;
            line-height: 22px;
            color: var(--color-text-1);
            text-align: left;
        }
    }
    .arco-modal-content {
        padding: 16px 20px;
        .label {
            color: var(--color-text-2, #4D5E7D);
            line-height: 20px;
            margin-bottom: 6px;
            .desc {
                margin-left: 10px;
                color: var(--color-text-3, #79879C);
            }
        }
        .select {
            margin-bottom: 20px;
        }
        .tips {
            display: flex;
            padding: 6px var(--size-3, 12px);
            justify-content: center;
            align-items: center;
            gap: 8px;
            align-self: stretch;
            border-radius: var(--border-radius-small, 2px);
            background: var(--color-primary-light-1, #E8F3FF);
            margin-bottom: 20px;
            .icon {
                flex-shrink: 0;
                font-size: 14px;
                color: var(--color-primary-6);
            }
            .text {
                color: var(--color-text-1, #242E43);
                line-height: 20px;
            }
        }
    }
    .arco-modal-footer {
        padding: 8px 20px;
        button {
            width: 72px;
            margin-left: 8px;
        }
    }
}
.share-model {
    .arco-tabs-header-title {
        margin: 0!important;
    }
    .arco-tabs-header {
        display: flex;
        gap: 20px;
    }
    .arco-tabs-header-title-active, .arco-tabs-header-title-active:hover {
        color: var(--color-text-1, #242E43);
    }
}