.modo-tabs-form {
	height: 224px;
	.arco-tabs-content {
		padding-top: 0px;
		height: calc(100% - 41px);
		.arco-tabs-content-inner {
			height: 100%;
			.arco-tabs-content-item {
				height: 100%;
				.arco-tabs-pane {
					height: 100%;
					.modo-cascader-panel {
						border: 0px;
					}
					.arco-cascader-popup {
						height: 100%;
						.arco-cascader-popup-inner {
							height: 100%;
						}
					}
				}
			}
		}
	}
}