.modo-form-group {
	.arco-form-inline {
	    flex-flow: row wrap;
	    flex-direction: row;
	    column-gap: 10px;
	    row-gap: 10px;
	    .arco-input {
	    	width: auto;
	    }
	    .arco-select {
	    	width: auto;
	    }
	    .arco-cascader {
	    	width: auto;
	    }
	    .placeholder-label {
	    	line-height: 30px;
	    }
	}
}