.modo-table {
	.table-header {
		position: relative;
		.table-title {
			display: block;
		}
		.download-btn {
			position: absolute;
			top: 0px;
			right: 0px;
		}
	}
}
.arco-popconfirm .arco-popconfirm-btn>div>button {
    margin-left: 8px;
}