.create-relation-modal {
    .arco-modal-header {
        height: 44px;
        .arco-modal-title {
            font-size: 14px;
            font-weight: 600;
            line-height: 22px;
            color: var(--color-text-1);
            text-align: left;
        }
    }
    .arco-modal-content {
        padding: 16px 20px;
    }
    .arco-modal-footer {
        padding: 8px 20px;
        button {
            width: 72px;
            margin-left: 8px;
        }
    }
}
