.object-type-preview-spin {
    width: 100%;
    height: 100%;
    .arco-spin-children {
        width: 100%;
        height: 100%;
        background: #fff !important;
    }
}
.object-type-preview-table {
    .arco-table-container {
        flex: unset;
        height: calc(100% - 100px);
    }
    // .arco-table-footer {
    //     display: none;
    // }
}
