.arco-btn-group>span .arco-btn {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.arco-btn-group>span:first-child .arco-btn {
	border-top-left-radius: 2px !important;
    border-bottom-left-radius: 2px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.arco-btn-group>span:last-child .arco-btn {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
}
.arco-btn-group>span:not(:last-child) .arco-btn {
    border-right: 1px solid var(--color-secondary-hover)
}
.arco-btn-group>span:not(:last-child) .arco-btn-primary {
    border-right: 1px solid rgb(var(--primary-5));
}