.upload-file-container {
  flex-direction: column;
  align-items: flex-start;
  //margin-left: 10px;
  .upload-btn {
    color: #999;
  }
  .arco-icon.arco-icon-question-circle {
    font-size: 12px;
    margin: 10px 0 0 10px;
    color: #999;
  }
  .c-fileConfig__config {
    display: flex;
    flex-direction: column;
    .config-desc {
      text-align: center !important;
      margin-top: 3px;
      color: #999;
      white-space: nowrap;
      width: auto;
    }
  }
  .arco-form-label-item > label {
    white-space: nowrap;
  }
  .flex-item-upload {
    display: flex;
    align-items: center;
    .arco-upload-list {
      //display: none;
    }
    .arco-icon.arco-icon-question-circle {
      margin: 0 0 0 10px;
    }
  }
}
.upload-modal {
  .arco-modal-footer {
    .arco-upload-list {
      //display: none;
    }
  }
}
.gold-modal {
  .arco-modal-content {
    padding: 16px;
  }
  p {
    text-align: center;
    .arco-icon-info-circle {
      margin-right: 10px;
      color: rgb(var(--primary-6));;
    }
  }
}
