.advanced-config-container{
  .split{
    border-top:1px solid  var(--color-border-2);
  }
  .more-config-btn{
    padding: 0;
    &.arco-btn-text:not(.arco-btn-disabled):not(.arco-btn-loading):hover{
      background-color: transparent;
    }

  }
}
