.options-attr-form {
	.options-attr-item {
		.modo-designer-bind-var {
		    margin-top: 0px;
		}
		.modo-designer-bind-var .code{
			width: 16px;
		    height: 16px;
		    border-radius: 2px;
		    line-height: 16px;
		    margin-top: 4px;
		}
	}
	
}