.card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    color: var(--color-text-1, #242E43);
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    .card-title-left {
      flex: 1; 
      display: flex;
      gap: 4px;
      .card-title-line {
        position: relative;
        width: 3px;
        align-self: stretch;
        height: 18px;
        &::after {
          content: '';
          position: absolute;
          top: 4px;
          left: 0px;
          bottom: 0px;
          width: 100%;
          border-radius: 3px;
          background: var(---color-primary-6, #3261CE);
        }
      }
    }
    .card-title-right { 
      flex-shrink: 0;
    }
}