.field-attr-popup {
    top: 50px !important;
    left: auto !important;
	right: 310px;
    height: calc(100vh - 50px);
    background: var(--color-white);
    border-left: 1px solid var(--color-gray-2);
}
.table-attr-form {
	.modo-table-form .arco-table .arco-table-td,
	.modo-table-form .arco-table .arco-table-th-item {
	    padding: 0px 2px;
	}
}
