.modo-select-input {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: table;
    border-collapse: initial;
    background-color: var(--color-fill-2);
    .modo-select-input-box{
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        .arco-input-inner-wrapper{
            border-radius: 0px;
        }
    }
}
