.chat-flow {
    .chat-flow-node {
        width: 60px;
        height: 60px;
        position: relative;
        cursor: pointer;
        .chat-flow-node-bg {
            position: absolute;
            top: 0px;
            left: 0px;
        }
        .chat-flow-node-icon {
            width: 22px;
            height: 22px;
            position: absolute;
            top: 8px;
            left: 19px;
        }
        .chat-flow-node-text {
            width: 100%;
            position: absolute;
            top: 32px;
            left: 0px;
            text-align: center;
            color: #F9FEFF;
            text-align: center;
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
        }
    }
}